<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
      <%newListItems.forEach(function(x){%>
        <form action="/delete" method="post">
          <div class="item">
            <input type="checkbox" name="checkbox" value="<%=x._id%>" onChange="this.form.submit()">
            <p><%=  x.name  %></p>
          </div>
          <input type="hidden" name="listName" value="<%=listTitle%>"></input>
        </form>
        <% }) %>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%=listTitle%>" style="font-size: 40px;">+</button>
      </form>
  </div>

<%- include("footer") -%>
